header {
  height: 100px;
  background-color: #3F8BFF;
  background-image: url('../img/pattern.png');
}

.logo {
  height: 50px;
  width: auto;
  padding: 20px 20px;
}

main, footer, {
  margin: 15px;
}

.the-booleaner {
  color: #3F8BFF;
}

.sottotitolo, .data, .footer-text {
  color: #8B8B8B;
}

.data, .description-photos {
  font-size: 12px;
}

.fluo {
  background-color: yellow;
}

ul {
  padding: 0px;
  margin-left: 15px;
}

thead {
  background-color: #1F97DE;
  color: white;
}

.t1, .t3 {
  background-color: #A4DFEE;
}

table {
  margin-top: 15px;
  margin-bottom: 15px;
  border-collapse: collapse;
}